/* Adjust the position of query params */
#issue_note_list_query > span {
  float: left;
}
#query_form_with_buttons {
  clear: left;
}

table.list.issues > tbody > tr.issue > td {
  box-sizing: border-box;
}
table.list.issues > tbody > tr.issue > td.recent_notes {
  box-sizing: content-box;
}

table.list th.issue-status,
table.list td.issue-status {
  width: 250px;
  vertical-align: top;
  border-right: 1px solid #ccc;
  overflow-x: hidden;
  overflow-y: auto;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}
table.list tr:not(.idnt) td.issue-status {
  padding: 5px;
}
table.list tr.idnt td.issue-status {
  background-position-y: 10px;
}

table.list.issues th {
  position: relative;
}

table.list th.issue-status {
  overflow: unset;
}
table.list th.issue-status > div.column-filter {
  vertical-align: top;
  padding: 2px 10px;
  overflow: hidden;
  position: absolute;
  background-color: inherit;
  box-sizing: border-box;
  right: 0;
  top: 0;
  z-index: 1;
  height: 100%;
  align-items: center;
  border: 1px solid transparent;
  border-radius: 5px;
}
table.list th.issue-status > div.column-filter:hover {
  overflow: unset;
  height: auto;
  border: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-bottom: 10px;
}

table.list.issues > thead > tr > th.issue-status > div.column-filter > span {
  display: none;
  margin-top: 0.3em;
}
table.list.issues
  > thead
  > tr
  > th.issue-status
  > div.column-filter
  > span:first-of-type {
  display: flex;
  user-select: none;
  -webkit-user-select: none;
  margin-top: 0;
  margin-left: auto;
  margin-right: -4px;
  cursor: pointer;
}
table.list.issues
  > thead
  > tr
  > th.issue-status
  > div.column-filter:hover
  > span {
  display: flex;
}

table.list.issues th .buttons {
  position: absolute;
  box-sizing: border-box;
  top: 0;
  margin: 0;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 2px;
}

table.list.issues th .buttons.buttons-right-side {
  right: 0;
}

table.list.issues th .buttons.buttons-left-side {
  left: 0;
}

table.list.issues th .buttons > button {
  cursor: pointer;
  margin: auto 1px;
  opacity: 0.3;
}

table.list.issues th .buttons > button:hover {
  opacity: 1;
}

tr td.issue-status > div.header,
tr td.issue-status > div.columns {
  width: 250px;
}
tr td.issue-status > div.columns {
  overflow: overlay;
  height: calc(100% - 18px) !important;
  box-sizing: border-box;
}
/* The width of child issue elements is affected by application.css */
tr.idnt-1 td.issue-status > div.header,
tr.idnt-1 td.issue-status > div.columns {
  width: calc(250px + 5px - 24px);
}
tr.idnt-2 td.issue-status > div.header,
tr.idnt-2 td.issue-status > div.columns {
  width: calc(250px + 5px - 40px);
}
tr.idnt-3 td.issue-status > div.header,
tr.idnt-3 td.issue-status > div.columns {
  width: calc(250px + 5px - 56px);
}
tr.idnt-4 td.issue-status > div.header,
tr.idnt-4 td.issue-status > div.columns {
  width: calc(250px + 5px - 72px);
}
tr.idnt-5 td.issue-status > div.header,
tr.idnt-5 td.issue-status > div.columns {
  width: calc(250px + 5px - 88px);
}
tr.idnt-6 td.issue-status > div.header,
tr.idnt-6 td.issue-status > div.columns {
  width: calc(250px + 5px - 104px);
}
tr.idnt-7 td.issue-status > div.header,
tr.idnt-7 td.issue-status > div.columns {
  width: calc(250px + 5px - 120px);
}
tr.idnt-8 td.issue-status > div.header,
tr.idnt-8 td.issue-status > div.columns {
  width: calc(250px + 5px - 136px);
}
tr.idnt-9 td.issue-status > div.header,
tr.idnt-9 td.issue-status > div.columns {
  width: calc(250px + 5px - 152px);
}
table.list.issues
  > tbody
  > tr.issue
  > td.issue-status
  > div.columns
  > div.column-items {
  display: flex;
  text-overflow: ellipsis;
  white-space: nowrap;
  align-items: baseline;
}
table.list.issues
  > tbody
  > tr.issue
  > td.issue-status
  > div.columns
  > div.column-items
  > span {
  flex: 1 1 auto;
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
}
table.list.issues
  > thead
  > tr
  > th.issue-status
  > div.column-filter
  > span
  > a.icon.sort {
  padding-left: 0;
}
table.list.issues
  > tbody
  > tr.issue
  > td.issue-status
  > div.columns
  > div.column-items
  > span:first-of-type:before {
  content: ": ";
}
table.list.issues
  > tbody
  > tr.issue
  > td.issue-status
  > div.columns
  > div.column-items
  > span.done_ratio
  > table.progress {
  float: none;
  display: inline-table;
}
td.issue-status div.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  white-space: nowrap;
  height: 18px;
  font-weight: bold;
}
td.issue-status div.header div.header-text {
  flex: 0 1 auto;
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
}
td.issue-status div.header div.header-buttons {
  padding: 0;
}
tr.issue:not(.variable-height)
  > td.issue-status
  div.header-buttons
  > button.fixed-height,
tr.issue.variable-height
  > td.issue-status
  div.header-buttons
  > button.variable-height {
  display: none;
}

table.list tr.issue td.recent_notes {
  display: grid;
  grid-auto-flow: column;
  align-items: stretch;
  justify-content: center;
  grid-auto-columns: 1fr;
  padding: 3px;
}
div.journal_outer {
  min-width: 150px;
  padding: 0 2px 2px 2px;
  border-left: 1px solid #ddd;
  overflow: hidden;
}
div.journal_outer:first-of-type {
  border-left: none;
}
div.journal_outer > div.journal.has-notes,
div.add_notes_form_outer > div.journal.has-notes {
  padding-left: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
}
div.journal.has-notes > div.wiki {
  width: 100%;
  text-align: left;
  padding: 5px;
  box-sizing: border-box;
  flex: 1 1 auto;
  scrollbar-width: 0.5em;
}
.wiki {
  overflow: overlay;
}
.wiki::-webkit-scrollbar,
td.issue-status > div.columns::-webkit-scrollbar {
  width: 0.5em;
  height: 0.5em;
}
.wiki::-webkit-scrollbar-track,
td.issue-status > div.columns::-webkit-scrollbar-track,
.wiki::-webkit-scrollbar-corner,
td.issue-status > div.columns::-webkit-scrollbar-corner {
  display: none;
}
.wiki::-webkit-scrollbar-thumb,
td.issue-status > div.columns::-webkit-scrollbar-thumb {
  background-color: #a8a8a833;
  border-radius: 3px;
}
.wiki:hover::-webkit-scrollbar-thumb,
td.issue-status > div.columns:hover::-webkit-scrollbar-thumb {
  background-color: #a8a8a888;
}
.wiki::-webkit-scrollbar-thumb:hover,
td.issue-status > div.columns::-webkit-scrollbar-thumb:hover {
  background-color: #a8a8a8ff;
}

table.list.issues > tbody > tr.issue.variable-height > td {
  height: auto;
}
div.journal.has-notes.private-notes > div.wiki {
  margin-left: 0;
  padding-left: 3px;
}

div.journal.has-notes > h4.note-header {
  text-align: left;
  overflow: hidden;
  padding-left: 0;
  padding-right: 0;
  text-overflow: ellipsis;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex: 0 0 auto;
}
div.journal.has-notes > h4.note-header > .header-text {
  overflow: hidden;
  text-overflow: ellipsis;
}
div.journal.has-notes div.header-buttons,
td.issue-status div.header-buttons {
  display: flex;
  flex-direction: row;
}
div.journal.has-notes div.header-buttons > *,
td.issue-status div.header-buttons > * {
  margin-left: 2px;
  opacity: 0.3;
}
div.journal.has-notes div.header-buttons > button.ui-icon,
td.issue-status div.header-buttons > button.ui-icon {
  cursor: pointer;
  margin-top: 0;
}
div.journal.has-notes div.header-buttons > *:hover,
td.issue-status div.header-buttons > *:hover {
  opacity: 1;
}
div.journal.has-notes > div.note-info {
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: -10px;
  margin-bottom: 5px;
  text-align: right;
  padding-right: 3px;
  font-size: smaller;
  flex: 0 0 12px;
}
div.journal.has-notes > form {
  position: relative;
  text-align: left;
  display: block;
}
td.add-notes form label[for$="private_notes"],
td.recent_notes div.journal.has-notes > form label[for$="private_notes"] {
  font-size: smaller;
  position: absolute;
  left: 24px;
  bottom: 12px;
}
div.journal.has-notes > form > div.jstBlock {
  text-align: center;
  flex-direction: column;
  flex: 1 1 auto;
}
div.journal.has-notes > form > div.jstBlock > div.jstTabs {
  text-align: left;
}
div.journal.has-notes > form > div.jstBlock div.jstTabs,
div.add_notes_form_outer > form > div.jstBlock div.jstTabs {
  z-index: 1;
}
td.add-notes div.add_notes_form_outer > form > div.jstBlock div.jstTabs {
  width: calc(100% - 30px);
}
div.journal.has-notes > form > div.jstBlock div.jstEditor,
div.add_notes_form_outer > form > div.jstBlock div.jstEditor {
  flex: 1 1 auto;
  position: relative;
}
div.journal.has-notes > form > div.jstBlock div.jstEditor > textarea.wiki-edit {
  width: 100%;
}
div.journal.has-notes > form > p {
  /* submit button */
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 0 5px;
}

table.list td.add-notes {
  vertical-align: top;
  padding: 3px;
  width: 300px;
  min-width: 200px;
  left: 0 !important; /* Support resizable */
}
table.list th.add-notes,
table.list td.add-notes {
  border-left: 1px solid #ccc;
  position: relative;
}
div.journal.has-notes > form,
td.add-notes > form {
  vertical-align: top;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1 1 auto;
}
div.journal.has-notes div.jstBlock > .jstEditor > textarea,
td.add-notes textarea {
  resize: none;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
div.journal.has-notes div.jstBlock,
td.add-notes div.jstBlock {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  margin-bottom: 3px;
}
div.journal.has-notes div.jstEditor > div.wiki-preview,
td.add-notes div.jstEditor div.wiki-preview {
  text-align: left;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 0;
  overflow: auto;
  min-height: unset !important;
  height: 100%;
  position: absolute;
}
form div.commands {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
form div.commands:not(:has(.private_notes)) {
  justify-content: end;
}
td.add-notes div.private_notes label {
  font-size: smaller;
}
td.add-notes.submitted div.jstTabs {
  display: none;
}
td.add-notes.submitted div.wiki-preview {
  background-color: #fff0;
  border: 0;
}
div.journal.has-notes > form > input[name="journal[private_notes]"] {
  margin-bottom: 6px;
}

div.ui-dialog.note-pop-out-dialog {
  box-shadow: #0003 0 0 5px 0;
}
div.ui-dialog.note-pop-out-dialog div.journal.has-notes {
  padding: 5px;
  /* ??? */
  width: unset !important;
}
div.ui-dialog.note-pop-out-dialog
  div.journal.has-notes
  div.header-buttons
  button.collapse,
div.ui-dialog.note-pop-out-dialog
  div.journal.has-notes
  div.header-buttons
  button.expand,
div.ui-dialog.note-pop-out-dialog
  div.journal.has-notes
  div.header-buttons
  button.pop-out {
  display: none;
}
div.ui-dialog.note-pop-out-dialog div.journal.has-notes > div.wiki {
  height: auto;
  flex: 1 1 auto;
}

div.add_notes_form_outer {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  top: 0;
  left: 0;
  padding: 3px;
}
div.add_notes_form_outer .action_buttons {
  display: flex;
  justify-content: flex-end;
  height: 22px;
  align-items: center;
  position: absolute;
  right: 5px;
}
div.add_notes_form_outer .action_buttons > button.pop-out {
  margin: 0;
  cursor: pointer;
  opacity: 0.3;
  z-index: 1;
}
div.add_notes_form_outer .action_buttons > button.pop-out:hover {
  opacity: 1;
}
div.ui-dialog.note-pop-out-dialog
  div.add_notes_form_outer
  .action_buttons
  > button.pop-out {
  display: none;
}
div.add_notes_form_outer > form {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

div.ui-dialog.note-pop-out-dialog {
  display: flex;
  flex-direction: column;
}
div.ui-dialog.note-pop-out-dialog div.ui-dialog-content {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  height: auto !important;
  width: auto !important;
}
div.ui-dialog.note-pop-out-dialog div.ui-dialog-content > * {
  flex: 0 0 auto;
}
div.ui-dialog.note-pop-out-dialog div.ui-dialog-content > form {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}
div.ui-dialog.note-pop-out-dialog div.ui-dialog-content > form > div.jstBlock {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  margin-bottom: 3px;
}
div.ui-dialog.note-pop-out-dialog
  form[id^="journal-"][id$="-form"]
  > div.jstBlock {
  margin-bottom: 40px;
}
div.ui-dialog.note-pop-out-dialog form > div.jstBlock > div.jstEditor {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}
div.ui-dialog.note-pop-out-dialog form > div.jstBlock > div.jstEditor > * {
  flex: 1 1 auto;
  resize: none;
  min-height: auto !important;
  width: 100%;
}
div.ui-dialog.note-pop-out-dialog
  form[id^="journal-"][id$="-form"]
  > div.jstBlock {
  margin-bottom: 40px;
}
div.ui-dialog.note-pop-out-dialog
  form[id^="journal-"][id$="-form"]
  > input[name="journal[private_notes]"] {
  position: absolute;
  bottom: 10px;
  left: 5px;
  height: 15px;
}
div.ui-dialog.note-pop-out-dialog
  form[id^="journal-"][id$="-form"]
  > input[name="journal[private_notes]"]
  + label {
  position: absolute;
  bottom: 15px;
  left: 30px;
  line-height: 15px;
}
div.close-pop-out-button-outer {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
div.close-pop-out-button-outer > button {
  height: min-content;
  white-space: normal;
}
div.ui-dialog.note-pop-out-dialog .ui-dialog-titlebar-button-group {
  position: absolute;
  right: 30px;
  height: 20px;
  top: 50%;
  margin-top: -10px;
  display: inline-flex;
}
div.ui-dialog.note-pop-out-dialog .ui-dialog-titlebar-button-group button {
  width: 20px;
  height: 20px;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
}
.ui-dialog.note-pop-out-dialog.maximized {
  width: 100% !important;
  height: 100% !important;
  box-sizing: border-box !important;
  top: 0 !important;
  left: 0 !important;
  position: fixed !important;
}
.ui-dialog.note-pop-out-dialog.fixed {
  position: fixed !important;
}
.ui-dialog.note-pop-out-dialog.fix-to-left,
.ui-dialog.note-pop-out-dialog.fix-to-right {
  height: calc(100% - (0.2em + 1px) * 2) !important;
  top: 0 !important;
}
.ui-dialog.note-pop-out-dialog.fix-to-left {
  left: 0 !important;
}
.ui-dialog.note-pop-out-dialog.fix-to-top,
.ui-dialog.note-pop-out-dialog.fix-to-bottom {
  width: calc(100% - (0.2em + 1px) * 2) !important;
  left: 0 !important;
}
.ui-dialog.note-pop-out-dialog.fix-to-top {
  top: 0 !important;
}
.ui-dialog.note-pop-out-dialog.fix-to-left
  .ui-dialog-titlebar-button-group
  button.fix-to-left,
.ui-dialog.note-pop-out-dialog.fix-to-right
  .ui-dialog-titlebar-button-group
  button.fix-to-right,
.ui-dialog.note-pop-out-dialog.fix-to-top
  .ui-dialog-titlebar-button-group
  button.fix-to-top,
.ui-dialog.note-pop-out-dialog.fix-to-bottom
  .ui-dialog-titlebar-button-group
  button.fix-to-bottom,
.ui-dialog.note-pop-out-dialog.maximized
  .ui-dialog-titlebar-button-group
  button.maximized {
  background-color: #ddd;
}
.ui-dialog.note-pop-out-dialog:not(.maximized):not(.fixed)
  .ui-dialog-titlebar-button-group
  button.restore {
  display: none;
}
/* Prevent tooltip flickering on dialog */
.ui-dialog.note-pop-out-dialog > .ui-tooltip {
  width: max-content;
}

tr.collapse-row > td {
  height: 30px !important;
  overflow: hidden;
}
tr.collapse-row form {
  display: none;
}
tr.collapse-row td.issue-status div.column-items {
  display: none !important;
}
tr.collapse-row div.journal.has-notes > div.note-info,
tr.collapse-row div.journal.has-notes > div.wiki {
  display: none;
}
tr.collapse-row
  div.header-buttons
  > *:not(button.pop-out):not(button.expand-row) {
  display: none;
}
tr:not(.collapse-row) div.header-buttons > button.expand-row {
  display: none;
}
tr.collapse-row div.journal.has-notes > div.note-info {
  display: none;
}
tr.collapse-row .close-pop-out-button-outer {
  font-size: smaller;
  height: auto;
}
tr.collapse-row .close-pop-out-button-outer > button {
  padding: 2px 3px;
}
tr.collapse-row > div.ui-resizable-handle {
  display: none;
}
div.journal.has-notes h4.note-header div.header-text span.note-id {
  font-size: smaller;
  border: 1px solid #aaa;
  margin: 0 3px;
  padding: 1px 2px;
  color: #aaa;
}
#issue_note_list_query > span {
  margin-right: 10px;
}

#notes_field_height_outer {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
}
#notes_field_height {
  margin-left: 5px;
}
#adjust_notes_field_height_slider {
  display: inline-block;
  width: 100px;
  margin-left: 10px;
}

button.mui-icon {
  width: 16px;
  height: 16px;
  background-size: 18px;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

button.mui-icon:hover {
  background-size: 18px;
  background-position: center;
}

button.mui-icon-open_in_new {
  background-image: url(../images/open_in_new_FILL0_wght400_GRAD0_opsz20.svg);
  border: none;
  background-color: transparent;
}

a.mui-icon-edit {
  background-image: url(../images/edit_FILL0_wght400_GRAD0_opsz20.svg);
  background-size: 18px;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

a.mui-icon-chat_paste_go {
  background-image: url(../images/chat_paste_go_FILL0_wght400_GRAD0_opsz20.svg);
  background-size: 18px;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

a.mui-icon-delete {
  background-image: url(../images/delete_FILL0_wght400_GRAD0_opsz20.svg);
  background-size: 18px;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

button.mui-icon-top_panel_close {
  background-image: url(../images/top_panel_close_FILL0_wght400_GRAD0_opsz20.svg);
  border: none;
  background-color: transparent;
}

button.mui-icon-top_panel_open {
  background-image: url(../images/top_panel_open_FILL0_wght400_GRAD0_opsz20.svg);
  border: none;
  background-color: transparent;
}

button.mui-icon-compress {
  background-image: url(../images/compress_FILL0_wght400_GRAD0_opsz20.svg);
  border: none;
  background-color: transparent;
}

button.mui-icon-expand {
  background-image: url(../images/expand_FILL0_wght400_GRAD0_opsz20.svg);
  border: none;
  background-color: transparent;
}

button.mui-icon-forms_add_on {
  background-image: url(../images/forms_add_on_FILL0_wght400_GRAD0_opsz20.svg);
  border: none;
  background-color: transparent;
}

button.mui-icon-dock_to_left,
button.mui-icon-dock_to_left:hover,
button.mui-icon-dock_to_left:focus {
  background-image: url(../images/dock_to_bottom_FILL0_wght400_GRAD0_opsz20.svg);
  transform: rotate(90deg);
  background-size: 18px;
  background-repeat: no-repeat;
  background-position: center;
}

button.mui-icon-dock_to_right,
button.mui-icon-dock_to_right:hover,
button.mui-icon-dock_to_right:focus {
  background-image: url(../images/dock_to_bottom_FILL0_wght400_GRAD0_opsz20.svg);
  transform: rotate(270deg);
  background-size: 18px;
  background-repeat: no-repeat;
  background-position: center;
}

button.mui-icon-dock_to_top,
button.mui-icon-dock_to_top:hover,
button.mui-icon-dock_to_top:focus {
  background-image: url(../images/dock_to_bottom_FILL0_wght400_GRAD0_opsz20.svg);
  transform: rotate(180deg);
  background-size: 18px;
  background-repeat: no-repeat;
  background-position: center;
}

button.mui-icon-dock_to_bottom,
button.mui-icon-dock_to_bottom:hover,
button.mui-icon-dock_to_bottom:focus {
  background-image: url(../images/dock_to_bottom_FILL0_wght400_GRAD0_opsz20.svg);
  background-size: 18px;
  background-repeat: no-repeat;
  background-position: center;
}

.ui-dialog.note-pop-out-dialog:not(.maximized) button.maximized,
.ui-dialog.note-pop-out-dialog:not(.maximized) button.maximized:hover,
.ui-dialog.note-pop-out-dialog:not(.maximized) button.maximized:focus {
  background-image: url(../images/zoom_out_map_FILL0_wght400_GRAD0_opsz20.svg);
  background-size: 18px;
  background-repeat: no-repeat;
  background-position: center;
}

.ui-dialog.note-pop-out-dialog.maximized button.maximized,
.ui-dialog.note-pop-out-dialog.maximized button.maximized:hover,
.ui-dialog.note-pop-out-dialog.maximized button.maximized:focus {
  background-image: url(../images/zoom_in_map_FILL0_wght400_GRAD0_opsz20.svg);
  background-size: 18px;
  background-repeat: no-repeat;
  background-position: center;
}

/* Fixed table header */
@media screen and (min-width: 900px) and (min-height: 800px) {
  #content > div.contextual {
    position: absolute;
    right: 15px;
  }
  #content > p.query-totals {
    margin: 0;
  }
}
@media screen and (min-height: 800px) {
  #wrapper {
    height: 100vh;
  }

  #wrapper > div {
    flex: 0 0 auto;
  }

  #wrapper > div#main {
    flex: 1 1 auto;
    overflow: auto;
  }

  #content {
    display: flex;
    flex-direction: column;
    position: relative;
    flex: 1 1 auto;
  }

  #content > * {
    flex: 0 0 auto;
  }

  #content > div.autoscroll-outer {
    flex: 1 1 auto;
    overflow: hidden;
    position: relative;
  }

  #content > div.autoscroll-outer > div.autoscroll {
    height: calc(100% - 1em);
    padding: 0;
    margin: 0;
    grid-template-columns: 1fr auto;
    border: 1px solid #ddd;
  }

  table.list.issues {
    overflow: auto;
    margin: 0;
    border: none;
  }

  table.list > thead {
    position: sticky;
    top: 0;
    z-index: 20;
  }
}

/* Support theme "farend bleuclair" */
#wrapper textarea.wiki-edit,
.modal textarea.wiki-edit {
  height: 100%;
}
@media screen and (min-width: 900px) and (min-height: 800px) {
  body.theme-Bleuclair
    #content
    > #sidebar-switch-panel:not([style*="display: none;"])
    + div.contextual {
    right: 43px;
  }
  #sidebar-switch-panel {
    position: absolute;
    top: 16px;
    left: auto;
    right: 4px;
  }
}

div.autoscroll-outer.hide-add-note-fields .add-notes,
div.autoscroll-outer.hide-add-note-fields button.hide-add-note-fields,
div.autoscroll-outer:not(.hide-add-note-fields) button.show-add-note-fields {
  display: none;
}

button.mui-icon-right_panel_close {
  background-image: url(../images/right_panel_close_FILL0_wght400_GRAD0_opsz20.svg);
  border: none;
  background-color: transparent;
}

button.mui-icon-right_panel_open {
  background-image: url(../images/right_panel_open_FILL0_wght400_GRAD0_opsz20.svg);
  border: none;
  background-color: transparent;
}

/* Fix formatting of P elements in table cells */
table.issues.list div.journal > .wiki > p {
  margin: revert;
}

#content.simple-editor .jstTabs.tabs {
  display: none;
}

/*
Temporary solution to the issue of broken design of the code block in the issue
list block column.
Reference: https://www.redmine.org/issues/40303
TODO: Font-weight is incorrect
*/
table.issues td.block_column code {
  white-space: break-spaces;
  span {
    font-weight: revert;
    display: revert;
    margin-bottom: revert;
  }
}
