table.list.issues > thead > tr > th.issue-status > span,
table.list.issues > tbody > tr.issue > td.issue-status > div {
  display: flex;
}

table.list.issues > thead > tr > th.issue-status > span > a.icon.sort {
  padding-left: 0;
}

table.list.issues
  > tbody
  > tr.issue
  > td.issue-status
  > div
  > span:first-of-type:before {
  content: ": ";
}

table.list.issues
  > tbody
  > tr.issue
  > td.issue-status
  > div
  > span.done_ratio
  > table.progress {
  float: none;
  display: inline-table;
}

td.last_note > div.wiki {
  text-align: left;
}