table.list td.issue-status {
  vertical-align: top;
  padding: 5px;
}

table.list.issues > thead > tr > th.issue-status > span,
table.list.issues > tbody > tr.issue > td.issue-status > div {
  display: flex;
}

table.list.issues > thead > tr > th.issue-status > span > a.icon.sort {
  padding-left: 0;
}

table.list.issues
  > tbody
  > tr.issue
  > td.issue-status
  > div
  > span:first-of-type:before {
  content: ": ";
}

table.list.issues
  > tbody
  > tr.issue
  > td.issue-status
  > div
  > span.done_ratio
  > table.progress {
  float: none;
  display: inline-table;
}

table.list tr.issue td.last_notes {
  display: grid;
  grid-auto-flow: column;
  grid-column-gap: 5px;
  align-items: stretch;
  justify-content: center;
  grid-auto-columns: 1fr;
}
div.journal.has-notes {
  min-width: 150px;
}
div.journal.has-notes > div.wiki {
  width: 100%;
  height: 200px;
  overflow: auto;
  text-align: left;
  padding: 3px;
}
div.journal.has-notes.expanded > div.wiki {
  height: auto;
}

div.journal.has-notes > h4.note-header {
  overflow: hidden;
  padding-left: 5px;
  padding-right: 5px;
  text-overflow: ellipsis;
  position: relative;
}
div.journal.has-notes > div.note-info {
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: -10px;
  margin-bottom: 5px;
  text-align: right;
  padding-right: 3px;
  font-size: smaller;
}
div.journal.has-notes div.header-buttons {
  position: absolute;
  right: 0;
  display: flex;
  flex-direction: row;
  top: 0;
}
div.journal.has-notes div.header-buttons > * {
  margin-left: 2px;
}
div.journal.has-notes div.header-buttons > button.ui-icon {
  cursor: pointer;
  opacity: 0.1;
  margin-top: 0;
}
div.journal.has-notes div.header-buttons > button.ui-icon:hover {
  opacity: 1;
}
div.journal.has-notes div.header-buttons > button.ui-icon.collapse-expand {
  /* ui-icon-caret-1-s */
  background-position: -65px 0;
}
div.journal.has-notes.expanded div.header-buttons > button.ui-icon.collapse-expand {
  /* ui-icon-caret-1-n */
  background-position: 0 0;
}
div.journal.has-notes > form[id^="journal-"][id$="-form"] {
  position: relative;
  text-align: left;
  display: block;
}
div.journal.has-notes > form[id^="journal-"][id$="-form"] label[for$="private_notes"] {
  font-size: smaller;
}
div.journal.has-notes > form[id^="journal-"][id$="-form"] > div.jstBlock {
  text-align: center;
  margin-bottom: 3px;
}
div.journal.has-notes
  > form[id^="journal-"][id$="-form"]
  > div.jstBlock
  div.jstEditor
  > div.wiki-preview {
  text-align: left;
  box-sizing: border-box;
  margin-bottom: 6px;
}
div.journal.has-notes > form[id^="journal-"][id$="-form"] > p {
  /* submit button */
  position: absolute;
  right: 0;
  bottom: 0;
}
div.journal.has-notes:has(form[id^="journal-"][id$="-form"]) > h4.note-header,
div.journal.has-notes:has(form[id^="journal-"][id$="-form"]) > div.note-info {
  /* If hide header information */
  /* Currently FireFox is not supported */
  /* display: none; */
}

table.list td.add-notes {
  vertical-align: top;
  padding: 2px;
}
td.add-notes form {
  vertical-align: top;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 3px;
}
td.add-notes textarea {
  height: 100px;
  resize: vertical;
}
td.add-notes form.edit_issue {
  width: 100%;
  box-sizing: border-box;
  min-width: 200px;
}
td.add-notes div.jstBlock {
  width: 100%;
}
td.add-notes div.jstEditor div.wiki-preview {
  text-align: left;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 5px;
}
td.add-notes div.commands {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
td.add-notes div.private_notes label {
  font-size: smaller;
}
td.add-notes.submitted div.jstTabs {
  display: none;
}
td.add-notes.submitted div.wiki-preview {
  background-color: #fff0;
  border: 0;
}
